<div id="app"></div>
<script type="text/javascript">
	var NODE_ENV = '<%= NODE_ENV %>';
</script>
<script type="text/javascript" src="/build/bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.bootcss.com/reactstrap/4.8.0/reactstrap.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
